@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Montserrat', sans-serif;
    --max-width: 1200px;
    --sm-font: 12px;
    --md-font: 14px;
    --lg-font: 16px;
    --primary-color: #186695;
    --white-color: #fff;
    --bg-color: #eaecf1;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-color);
}
.xpense-main-header {
    background-color: var(--primary-color);
    padding: 10px 0;
}
.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;

}
.xpense-logo-wraper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 0;
}
nav ul li a {
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 5px;
}
nav ul li a:hover {
    color: var(--bg-color)
}

.add-expense-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#btn-add-new-xpense {
    background-color: var(--primary-color);
    border: none;
    font-size: var(--sm-font) ;
}

#btn-submit-xpense {
    background-color: var(--primary-color);
    color: var(--white-color);
}
#btn-cancel-xpense {
    font-size: var(--sm-font);
}


.table {
    text-align: center;
}
#edit-icon-xpense {
    color: var(--primary-color);
    font-size: 10px !important;
}